node-red flows.json
[{"id":"b1b35ce8.0d048","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"b820cc8b.48a058","type":"mqtt in","z":"b1b35ce8.0d048","name":"","topic":"rooms/living/tempSet","qos":"0","datatype":"auto","broker":"b571a7c5.13e0a","x":225,"y":485,"wires":[["6055802.94302"]]},{"id":"ee7620b.ad913e","type":"function","z":"b1b35ce8.0d048","name":"","func":"if (msg.payload === false) {\n   msg.enabled = true\n   msg.payload = 20\n} else {\n   msg.enabled = false\n   msg.payload = 20\n}\nreturn msg;","outputs":1,"noerr":0,"x":723,"y":385,"wires":[["4ff43163.9a20d","e2839cac.468578","f25aa41.0110dd8"]]},{"id":"6055802.94302","type":"json","z":"b1b35ce8.0d048","name":"","property":"payload","action":"","pretty":false,"x":445,"y":485,"wires":[["e3abf845.3f048"]]},{"id":"e3abf845.3f048","type":"function","z":"b1b35ce8.0d048","name":"","func":"if(msg.payload.source != 'remote'){\nmsg.payload = msg.payload.temp\nreturn msg;}\nelse return null","outputs":1,"noerr":0,"x":585,"y":485,"wires":[["4ff43163.9a20d"]]},{"id":"dde69b6c.f64f48","type":"mqtt out","z":"b1b35ce8.0d048","name":"","topic":"rooms/living/tempSet","qos":"0","retain":"false","broker":"b571a7c5.13e0a","x":1145,"y":485,"wires":[]},{"id":"9d1372f2.c09178","type":"function","z":"b1b35ce8.0d048","name":"","func":"//if(msg.enabled === true){\nmsg.payload = {'source': 'remote', 'temp': msg.payload.toFixed(1)};\nreturn msg;\n//}\n//else return null;","outputs":1,"noerr":0,"x":945,"y":485,"wires":[["dde69b6c.f64f48"]]},{"id":"7c63810e.366988","type":"mqtt in","z":"b1b35ce8.0d048","name":"","topic":"rooms/season","qos":"0","datatype":"auto","broker":"b571a7c5.13e0a","x":135,"y":305,"wires":[["69499352.e583b4"]]},{"id":"69499352.e583b4","type":"json","z":"b1b35ce8.0d048","name":"","property":"payload","action":"","pretty":false,"x":305,"y":305,"wires":[["750a9d8d.6a643c"]]},{"id":"750a9d8d.6a643c","type":"function","z":"b1b35ce8.0d048","name":"","func":"if(msg.payload.source != 'remote'){\n    if(msg.payload.season == 'winter'){\n        msg.payload = 'winter'\n        return msg;\n    }\n    else {\n        msg.payload = 'summer'\n        return msg;}\n}","outputs":1,"noerr":0,"x":445,"y":305,"wires":[["546fae0e.625fb8"]]},{"id":"344fe624.5aee02","type":"mqtt out","z":"b1b35ce8.0d048","name":"","topic":"rooms/season","qos":"0","retain":"false","broker":"b571a7c5.13e0a","x":1075,"y":305,"wires":[]},{"id":"83d90cfb.a0f9e8","type":"function","z":"b1b35ce8.0d048","name":"","func":"if(msg.payload == 'winter'){\n        msg.payload = {'source': 'remote', 'season': 'winter'}\n        return msg;\n    }\n    else {\n        msg.payload = {'source': 'remote', 'season': 'summer'}\n        return msg;\n    }","outputs":1,"noerr":0,"x":765,"y":305,"wires":[["3cdadd21.36735a"]]},{"id":"3cdadd21.36735a","type":"json","z":"b1b35ce8.0d048","name":"","property":"payload","action":"","pretty":false,"x":905,"y":305,"wires":[["344fe624.5aee02"]]},{"id":"384aaecb.2ecb52","type":"mqtt in","z":"b1b35ce8.0d048","name":"","topic":"rooms/mode","qos":"0","datatype":"auto","broker":"b571a7c5.13e0a","x":125,"y":245,"wires":[["6d1d1ce6.529dd4"]]},{"id":"6d1d1ce6.529dd4","type":"json","z":"b1b35ce8.0d048","name":"","property":"payload","action":"","pretty":false,"x":305,"y":245,"wires":[["cd2e9929.7cc5f"]]},{"id":"cd2e9929.7cc5f","type":"function","z":"b1b35ce8.0d048","name":"","func":"if(msg.payload.source != 'remote'){\n    if(msg.payload.mode == 'auto'){\n        msg.payload = true\n        return msg;\n    }\n    else {\n        msg.payload = false\n        return msg;}\n}","outputs":1,"noerr":0,"x":445,"y":245,"wires":[["59dda597.7cd264"]]},{"id":"c724b051.c812","type":"mqtt out","z":"b1b35ce8.0d048","name":"","topic":"rooms/mode","qos":"0","retain":"false","broker":"b571a7c5.13e0a","x":1074,"y":245,"wires":[]},{"id":"c264d1f.a21233","type":"function","z":"b1b35ce8.0d048","name":"","func":"if(msg.payload === true){\n        msg.payload = {'source': 'remote', 'mode': 'auto'}\n        return msg;\n    }\n    else {\n        msg.payload = {'source': 'remote', 'mode': 'man'}\n        return msg;\n    }","outputs":1,"noerr":0,"x":764,"y":245,"wires":[["5e6b263c.74cea8"]]},{"id":"5e6b263c.74cea8","type":"json","z":"b1b35ce8.0d048","name":"","property":"payload","action":"","pretty":false,"x":904,"y":245,"wires":[["c724b051.c812"]]},{"id":"546fae0e.625fb8","type":"ui_dropdown","z":"b1b35ce8.0d048","name":"","label":"Season","tooltip":"","place":"Winter","group":"6d6c27c3.1ccd9","order":3,"width":0,"height":0,"passthru":true,"options":[{"label":"Summer","value":"summer","type":"str"},{"label":"Winter","value":"winter","type":"str"}],"payload":"","topic":"","x":595,"y":305,"wires":[["83d90cfb.a0f9e8"]]},{"id":"59dda597.7cd264","type":"ui_switch","z":"b1b35ce8.0d048","name":"","label":"Auto mode","tooltip":"","group":"6d6c27c3.1ccd9","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":605,"y":245,"wires":[["c264d1f.a21233","ee7620b.ad913e"]]},{"id":"4ff43163.9a20d","type":"ui_numeric","z":"b1b35ce8.0d048","name":"","label":"Set temperature","tooltip":"","group":"aedcadb4.35061","order":1,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value | number:1}}°C","min":"5","max":"30","step":"0.5","x":765,"y":485,"wires":[["9d1372f2.c09178"]]},{"id":"f48aac18.2b5f8","type":"ui_gauge","z":"b1b35ce8.0d048","name":"","group":"aedcadb4.35061","order":3,"width":"0","height":"0","gtype":"donut","title":"Temperature","label":"°C","format":"{{value}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":762,"y":534,"wires":[]},{"id":"6306d3a0.5a6f9c","type":"ui_gauge","z":"b1b35ce8.0d048","name":"","group":"aedcadb4.35061","order":4,"width":"0","height":"0","gtype":"wave","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":745,"y":639,"wires":[]},{"id":"449a7f70.c2082","type":"ui_chart","z":"b1b35ce8.0d048","name":"","group":"66205b54.83b334","order":6,"width":0,"height":0,"label":"Humidity","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":746,"y":684,"wires":[[]]},{"id":"4e9ff761.0106f8","type":"mqtt in","z":"b1b35ce8.0d048","name":"","topic":"rooms/living/TempHum","qos":"0","datatype":"auto","broker":"b571a7c5.13e0a","x":225,"y":598,"wires":[["1b2faee8.a535b1","e733e45e.1a1748"]]},{"id":"1b2faee8.a535b1","type":"json","z":"b1b35ce8.0d048","name":"","property":"payload","action":"","pretty":false,"x":444,"y":545,"wires":[["e33ace07.3f3d98"]]},{"id":"e33ace07.3f3d98","type":"function","z":"b1b35ce8.0d048","name":"","func":"if(msg.payload.source != 'remote'){\nmsg.payload = msg.payload.temperature\nreturn msg;}","outputs":1,"noerr":0,"x":589,"y":544,"wires":[["f48aac18.2b5f8","c5a6d6f4.90ce2"]]},{"id":"c5a6d6f4.90ce2","type":"ui_chart","z":"b1b35ce8.0d048","name":"","group":"66205b54.83b334","order":5,"width":0,"height":0,"label":"Temperature","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":763,"y":579,"wires":[[]]},{"id":"e733e45e.1a1748","type":"json","z":"b1b35ce8.0d048","name":"","property":"payload","action":"","pretty":false,"x":440,"y":660,"wires":[["a6587f8e.bff9c"]]},{"id":"a6587f8e.bff9c","type":"function","z":"b1b35ce8.0d048","name":"","func":"if(msg.payload.source != 'remote'){\nmsg.payload = msg.payload.humidity\nreturn msg;}","outputs":1,"noerr":0,"x":585,"y":659,"wires":[["6306d3a0.5a6f9c","449a7f70.c2082"]]},{"id":"9af1295a.9bfe7","type":"mqtt in","z":"b1b35ce8.0d048","name":"","topic":"rooms/kitchen/tempSet","qos":"0","datatype":"auto","broker":"b571a7c5.13e0a","x":215,"y":775,"wires":[["7bcb7f73.3245b"]]},{"id":"7bcb7f73.3245b","type":"json","z":"b1b35ce8.0d048","name":"","property":"payload","action":"","pretty":false,"x":435,"y":775,"wires":[["4a75036d.e05294"]]},{"id":"4a75036d.e05294","type":"function","z":"b1b35ce8.0d048","name":"","func":"if(msg.payload.source != 'remote'){\nmsg.payload = msg.payload.temp\nreturn msg;}\nelse return null;","outputs":1,"noerr":0,"x":575,"y":775,"wires":[["e2839cac.468578"]]},{"id":"266d0f1d.c73108","type":"mqtt out","z":"b1b35ce8.0d048","name":"","topic":"rooms/kitchen/tempSet","qos":"0","retain":"false","broker":"b571a7c5.13e0a","x":1145,"y":775,"wires":[]},{"id":"780d5f94.9843a","type":"function","z":"b1b35ce8.0d048","name":"","func":"msg.payload = {'source': 'remote', 'temp': msg.payload.toFixed(1)};\nreturn msg;","outputs":1,"noerr":0,"x":935,"y":775,"wires":[["266d0f1d.c73108"]]},{"id":"e2839cac.468578","type":"ui_numeric","z":"b1b35ce8.0d048","name":"","label":"Set temperature","tooltip":"","group":"def3a485.976cc","order":1,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value | number:1}}°C","min":"5","max":"30","step":"0.5","x":755,"y":775,"wires":[["780d5f94.9843a"]]},{"id":"2351ac14.311c5c","type":"ui_gauge","z":"b1b35ce8.0d048","name":"","group":"def3a485.976cc","order":3,"width":"0","height":"0","gtype":"donut","title":"Temperature","label":"°C","format":"{{value}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":752,"y":824,"wires":[]},{"id":"f4c85df8.c314d8","type":"ui_gauge","z":"b1b35ce8.0d048","name":"","group":"def3a485.976cc","order":4,"width":"0","height":"0","gtype":"wave","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":735,"y":929,"wires":[]},{"id":"c6ca1df6.cfc23","type":"ui_chart","z":"b1b35ce8.0d048","name":"","group":"f2c182f5.831ff","order":6,"width":0,"height":0,"label":"Humidity","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":736,"y":974,"wires":[[]]},{"id":"d56c87ca.14dfb","type":"mqtt in","z":"b1b35ce8.0d048","name":"","topic":"rooms/kitchen/TempHum","qos":"0","datatype":"auto","broker":"b571a7c5.13e0a","x":221,"y":887,"wires":[["10aaffaa.fc0eb8","bb818943.a11fc"]]},{"id":"10aaffaa.fc0eb8","type":"json","z":"b1b35ce8.0d048","name":"","property":"payload","action":"","pretty":false,"x":434,"y":835,"wires":[["4ef8693a.ef6178"]]},{"id":"4ef8693a.ef6178","type":"function","z":"b1b35ce8.0d048","name":"","func":"if(msg.payload.source != 'remote'){\nmsg.payload = msg.payload.temperature\nreturn msg;}","outputs":1,"noerr":0,"x":579,"y":834,"wires":[["2351ac14.311c5c","aaa7612.16c82a"]]},{"id":"aaa7612.16c82a","type":"ui_chart","z":"b1b35ce8.0d048","name":"","group":"f2c182f5.831ff","order":5,"width":0,"height":0,"label":"Temperature","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":753,"y":869,"wires":[[]]},{"id":"bb818943.a11fc","type":"json","z":"b1b35ce8.0d048","name":"","property":"payload","action":"","pretty":false,"x":434,"y":949,"wires":[["3e0cd9cb.b16ae6"]]},{"id":"3e0cd9cb.b16ae6","type":"function","z":"b1b35ce8.0d048","name":"","func":"if(msg.payload.source != 'remote'){\nmsg.payload = msg.payload.humidity\nreturn msg;}","outputs":1,"noerr":0,"x":575,"y":949,"wires":[["f4c85df8.c314d8","c6ca1df6.cfc23"]]},{"id":"741e3fb.ab7f1c","type":"mqtt in","z":"b1b35ce8.0d048","name":"","topic":"rooms/bedroom/tempSet","qos":"0","datatype":"auto","broker":"b571a7c5.13e0a","x":221,"y":1068,"wires":[["46e10656.5420c8"]]},{"id":"46e10656.5420c8","type":"json","z":"b1b35ce8.0d048","name":"","property":"payload","action":"","pretty":false,"x":431,"y":1068,"wires":[["3a655855.57e0e"]]},{"id":"3a655855.57e0e","type":"function","z":"b1b35ce8.0d048","name":"","func":"if(msg.payload.source != 'remote'){\nmsg.payload = msg.payload.temp\nreturn msg;}\nelse return null;","outputs":1,"noerr":0,"x":571,"y":1068,"wires":[["f25aa41.0110dd8"]]},{"id":"dd75e49d.73d8d8","type":"mqtt out","z":"b1b35ce8.0d048","name":"","topic":"rooms/bedroom/tempSet","qos":"0","retain":"false","broker":"b571a7c5.13e0a","x":1141,"y":1068,"wires":[]},{"id":"bedb49d5.803b4","type":"function","z":"b1b35ce8.0d048","name":"","func":"msg.payload = {'source': 'remote', 'temp': msg.payload.toFixed(1)};\nreturn msg;","outputs":1,"noerr":0,"x":931,"y":1068,"wires":[["dd75e49d.73d8d8"]]},{"id":"f25aa41.0110dd8","type":"ui_numeric","z":"b1b35ce8.0d048","name":"","label":"Set temperature","tooltip":"","group":"5069c96f.8c1548","order":1,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value | number:1}}°C","min":"5","max":"30","step":"0.5","x":751,"y":1068,"wires":[["bedb49d5.803b4"]]},{"id":"4a276d3a.7ec8f4","type":"ui_gauge","z":"b1b35ce8.0d048","name":"","group":"5069c96f.8c1548","order":3,"width":"0","height":"0","gtype":"donut","title":"Temperature","label":"°C","format":"{{value}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":748,"y":1117,"wires":[]},{"id":"9d3974c3.4e7748","type":"ui_gauge","z":"b1b35ce8.0d048","name":"","group":"5069c96f.8c1548","order":4,"width":"0","height":"0","gtype":"wave","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":731,"y":1222,"wires":[]},{"id":"ae76d9c1.dfba48","type":"ui_chart","z":"b1b35ce8.0d048","name":"","group":"34a826f9.72fdf2","order":6,"width":0,"height":0,"label":"Humidity","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":732,"y":1267,"wires":[[]]},{"id":"70f7b55b.f6c39c","type":"mqtt in","z":"b1b35ce8.0d048","name":"","topic":"rooms/bedroom/TempHum","qos":"0","datatype":"auto","broker":"b571a7c5.13e0a","x":219,"y":1182,"wires":[["e4a56bff.2dd74","a9b7bc36.5fa7c8"]]},{"id":"e4a56bff.2dd74","type":"json","z":"b1b35ce8.0d048","name":"","property":"payload","action":"","pretty":false,"x":430,"y":1128,"wires":[["de2014bc.275c6"]]},{"id":"de2014bc.275c6","type":"function","z":"b1b35ce8.0d048","name":"","func":"if(msg.payload.source != 'remote'){\nmsg.payload = msg.payload.temperature\nreturn msg;}","outputs":1,"noerr":0,"x":575,"y":1127,"wires":[["4a276d3a.7ec8f4","fa282649.9718f"]]},{"id":"fa282649.9718f","type":"ui_chart","z":"b1b35ce8.0d048","name":"","group":"34a826f9.72fdf2","order":5,"width":0,"height":0,"label":"Temperature","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":749,"y":1162,"wires":[[]]},{"id":"a9b7bc36.5fa7c8","type":"json","z":"b1b35ce8.0d048","name":"","property":"payload","action":"","pretty":false,"x":426,"y":1243,"wires":[["c1b2bea6.cd9ed"]]},{"id":"c1b2bea6.cd9ed","type":"function","z":"b1b35ce8.0d048","name":"","func":"if(msg.payload.source != 'remote'){\nmsg.payload = msg.payload.humidity\nreturn msg;}","outputs":1,"noerr":0,"x":571,"y":1242,"wires":[["9d3974c3.4e7748","ae76d9c1.dfba48"]]},{"id":"147e6d20.57650b","type":"alexa-home","z":"b1b35ce8.0d048","conf":"18fe3388.c3c5ac","device":"59275","acknoledge":false,"name":"Living room temperature","topic":"","x":178,"y":1428,"wires":[["f5708eb9.94603"]]},{"id":"5a4781f3.a48f38","type":"mqtt out","z":"b1b35ce8.0d048","name":"","topic":"rooms/living/tempSet","qos":"0","retain":"","broker":"b571a7c5.13e0a","x":740,"y":1397,"wires":[]},{"id":"eb590491.bc8cd8","type":"alexa-home-resp","z":"b1b35ce8.0d048","x":601,"y":1460,"wires":[]},{"id":"f5708eb9.94603","type":"function","z":"b1b35ce8.0d048","name":"","func":"if (msg.payload < 5 || msg.payload > 30) {\n    var range = {\n        min: 5.0,\n        max: 30.0\n    }\n    msg.payload = false;\n    msg.extra = range;\n    \n\n} else {\n    msg.extra = {\n        targetTemperature: {\n            value: msg.payload\n        }\n    };\n    msg.payload = true;\n}\n    \nreturn msg;","outputs":1,"noerr":0,"x":385,"y":1428,"wires":[["eb590491.bc8cd8","ba556462.51de"]]},{"id":"ba556462.51de","type":"function","z":"b1b35ce8.0d048","name":"","func":"msg.payload = {'source': 'alexa', 'temp': msg.extra.targetTemperature.value.toFixed(1)};\nreturn msg;","outputs":1,"noerr":0,"x":542,"y":1398,"wires":[["5a4781f3.a48f38"]]},{"id":"560498a3.41b0c8","type":"alexa-home","z":"b1b35ce8.0d048","conf":"18fe3388.c3c5ac","device":"59361","acknoledge":true,"name":"Auto mode","topic":"","x":422.0000305175781,"y":176.28570556640625,"wires":[["59dda597.7cd264"]]},{"id":"6f32f65.c7d1908","type":"alexa-home","z":"b1b35ce8.0d048","conf":"18fe3388.c3c5ac","device":"59363","acknoledge":true,"name":"Summer","topic":"","x":220.00006103515625,"y":367.1428527832031,"wires":[["1f4cd011.99a62"]]},{"id":"1f4cd011.99a62","type":"function","z":"b1b35ce8.0d048","name":"","func":"if(msg.payload === true){\n        msg.payload = 'summer'\n        return msg;\n    }\n    else {\n        msg.payload = 'winter'\n        return msg;}","outputs":1,"noerr":0,"x":381.4286193847656,"y":367.1429443359375,"wires":[["546fae0e.625fb8"]]},{"id":"12980880.3d1ed8","type":"alexa-home","z":"b1b35ce8.0d048","conf":"18fe3388.c3c5ac","device":"59364","acknoledge":true,"name":"Winter","topic":"","x":207.14288330078125,"y":422.8571472167969,"wires":[["4113e24b.232534"]]},{"id":"4113e24b.232534","type":"function","z":"b1b35ce8.0d048","name":"","func":"if(msg.payload === true){\n        msg.payload = 'winter'\n        return msg;\n    }\n    else {\n        msg.payload = 'summer'\n        return msg;}","outputs":1,"noerr":0,"x":378.5714416503906,"y":421.4285888671875,"wires":[["546fae0e.625fb8"]]},{"id":"286ce6ec.653c02","type":"alexa-home","z":"b1b35ce8.0d048","conf":"18fe3388.c3c5ac","device":"59276","acknoledge":false,"name":"Kitchen temperature","topic":"","x":159.14285278320312,"y":1560,"wires":[["74ae2eb7.64e3b8"]]},{"id":"bb50b5c3.7cb358","type":"mqtt out","z":"b1b35ce8.0d048","name":"","topic":"rooms/kitchen/tempSet","qos":"0","retain":"","broker":"b571a7c5.13e0a","x":751.1428527832031,"y":1529,"wires":[]},{"id":"94a28b7.54f8678","type":"alexa-home-resp","z":"b1b35ce8.0d048","x":602.1428527832031,"y":1592,"wires":[]},{"id":"74ae2eb7.64e3b8","type":"function","z":"b1b35ce8.0d048","name":"","func":"if (msg.payload < 5 || msg.payload > 30) {\n    var range = {\n        min: 5.0,\n        max: 30.0\n    }\n    msg.payload = false;\n    msg.extra = range;\n    \n\n} else {\n    msg.extra = {\n        targetTemperature: {\n            value: msg.payload\n        }\n    };\n    msg.payload = true;\n}\n    \nreturn msg;","outputs":1,"noerr":0,"x":386.1428527832031,"y":1560,"wires":[["94a28b7.54f8678","b521fa68.7f3c98"]]},{"id":"b521fa68.7f3c98","type":"function","z":"b1b35ce8.0d048","name":"","func":"msg.payload = {'source': 'alexa', 'temp': msg.extra.targetTemperature.value.toFixed(1)};\nreturn msg;","outputs":1,"noerr":0,"x":543.1428527832031,"y":1530,"wires":[["bb50b5c3.7cb358"]]},{"id":"4d1a6cea.c1af64","type":"alexa-home","z":"b1b35ce8.0d048","conf":"18fe3388.c3c5ac","device":"59308","acknoledge":false,"name":"Bedroom temperature","topic":"","x":172.71429443359375,"y":1702.857177734375,"wires":[["9459266.d1a5ed8"]]},{"id":"3bda788.fe00f08","type":"mqtt out","z":"b1b35ce8.0d048","name":"","topic":"rooms/bedroom/tempSet","qos":"0","retain":"","broker":"b571a7c5.13e0a","x":754.7142944335938,"y":1671.857177734375,"wires":[]},{"id":"4906d1f3.2584d","type":"alexa-home-resp","z":"b1b35ce8.0d048","x":605.7142944335938,"y":1734.857177734375,"wires":[]},{"id":"9459266.d1a5ed8","type":"function","z":"b1b35ce8.0d048","name":"","func":"if (msg.payload < 5 || msg.payload > 30) {\n    var range = {\n        min: 5.0,\n        max: 30.0\n    }\n    msg.payload = false;\n    msg.extra = range;\n    \n\n} else {\n    msg.extra = {\n        targetTemperature: {\n            value: msg.payload\n        }\n    };\n    msg.payload = true;\n}\n    \nreturn msg;","outputs":1,"noerr":0,"x":389.71429443359375,"y":1702.857177734375,"wires":[["4906d1f3.2584d","da68647c.2e9b98"]]},{"id":"da68647c.2e9b98","type":"function","z":"b1b35ce8.0d048","name":"","func":"msg.payload = {'source': 'alexa', 'temp': msg.extra.targetTemperature.value.toFixed(1)};\nreturn msg;","outputs":1,"noerr":0,"x":546.7142944335938,"y":1672.857177734375,"wires":[["3bda788.fe00f08"]]},{"id":"b571a7c5.13e0a","type":"mqtt-broker","z":"","name":"AWS","broker":"awrz7y5qt73nj-ats.iot.eu-west-2.amazonaws.com","port":"8883","tls":"4dfe3bd5.54da44","clientid":"","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"6d6c27c3.1ccd9","type":"ui_group","z":"","name":"Mode/Season","tab":"91bb22d.50066e","order":1,"disp":false,"width":"6","collapse":false},{"id":"aedcadb4.35061","type":"ui_group","z":"","name":"Living Room","tab":"91bb22d.50066e","order":2,"disp":true,"width":"6","collapse":false},{"id":"66205b54.83b334","type":"ui_group","z":"","name":"Living Room","tab":"8b8c4d2a.3a6fb8","order":1,"disp":true,"width":"6","collapse":false},{"id":"def3a485.976cc","type":"ui_group","z":"","name":"Kitchen","tab":"91bb22d.50066e","order":3,"disp":true,"width":"6","collapse":false},{"id":"f2c182f5.831ff","type":"ui_group","z":"","name":"Kitchen","tab":"8b8c4d2a.3a6fb8","order":2,"disp":true,"width":"6","collapse":false},{"id":"5069c96f.8c1548","type":"ui_group","z":"","name":"Bedroom","tab":"91bb22d.50066e","order":4,"disp":true,"width":"6","collapse":false},{"id":"34a826f9.72fdf2","type":"ui_group","z":"","name":"Bedroom","tab":"8b8c4d2a.3a6fb8","order":3,"disp":true,"width":"6","collapse":false},{"id":"18fe3388.c3c5ac","type":"alexa-home-conf","z":"","username":"bruno94"},{"id":"4dfe3bd5.54da44","type":"tls-config","z":"","name":"AWS","cert":"","key":"","ca":"","certname":"9d3ae4ef02-certificate.pem.crt","keyname":"9d3ae4ef02-private.pem.key","caname":"AmazonRootCA1.pem","servername":"","verifyservercert":false},{"id":"91bb22d.50066e","type":"ui_tab","z":"","name":"Rooms","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"8b8c4d2a.3a6fb8","type":"ui_tab","z":"","name":"Stats","icon":"timeline","order":2,"disabled":false,"hidden":false}]